* {
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

main {
  width: 100vw;
  min-height: 100vh;
  background-color: #161717;
}

.submain {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  max-height: 18em;
  min-width: 12em;
}

.submain>div {
  grid-row: var(--r);
  grid-column: var(--c);
  grid-column: "span 1 / span 1";
  grid-row:"span 1 / span 1";
}

.fixed-div{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-div h1{
  font-size: 8em;
}

/* Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}